extends ../shared/template

block content

  #showDiv
    a.share(href='#') Share Me!
    h1.drawingname= drawing.name
    img#showDrawing(src='/img/#{drawing.userId}/#{drawing.name}.png')
    .showDivButtons
      a.btn.btn-primary.artistpage(href='/users/#{drawing.userId}') Artist Page

block scripts
  script.
    $(document).ready(function() {
      $('.share').hideshare({
        title: 'Check out my drawing!',
        media: 'http://localhost:4000/drawings/#{drawing._id}',
        facebook: true,
        twitter: true,
        pinterest: false,
        position: 'right',
        speed: 50
      });
    });
