extends ../shared/template

block content
  h1.myColoringBook My Coloring Book

  #uploadDrawing
    form(action='/drawings/create', method='post', enctype='multipart/form-data')
      input.uploadName(type='text', name='name')
      input(type='hidden', name='userId', value='#{user._id}')
      input.uploadDrawing(type='file', name='art')
      button.addDrawing.btn.btn-primary Add Drawing

  table#displayDrawings
    each drawing in drawings
      tr
        td: a.displayDrawingName(href='/drawings/#{drawing._id}') #{drawing.name}
      tr
        td: img.displayDrawingImage(src='/img/#{user._id}/#{drawing.name}.png')
      tr.delete
        td: form(action='/drawings/#{drawing._id}/delete', method='POST')
          button.deleteDrawing.btn.btn-primary Delete Drawing
